*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main{
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  background-color: white;
  border: 2px solid black;
  width: 98%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

.header button{
  font-size: 28px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border-color: orangered;
}

.header button:first-child{
  background-color: orangered;
  /* border: none; */
}
.body{
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 730px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.body h2{
  padding: 15px;
}

.form{

  padding: 15px;
  width: 50%;
  height: 627px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid black;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
}

.form input{
  padding: 10px;
  height: 60px;
  font-size: 19px;
  margin-bottom: 10px;
  width: 90%;
}

.form > button{
  padding: 10px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
  width: 60%;
  border-color: #ff4500;
  /* border: none; */
  background-color: orangered;
  font-size: 30px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;

}

.form textarea{
  margin-top: 10px;
  padding: 10px;
  font-size: 19px;
  margin-bottom: 10px;
  width: 90%;
  height: 320px;
  resize: none;
  /* font-family: monospace; */
}

input:disabled{
  background-color: #dadada;
  border: none;
  cursor:no-drop;
}

.getData{
  height: 220px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 0px 0px; */
}

.getData button{
  width: 133px;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #ff4500;
  background-color: orangered;
  color: white;
  font-weight: 600;

}

button:disabled{
  background-color: #dadada;
  border: none;
  cursor:no-drop;
}
